* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eeeeee63;
  padding: 0 16px;
  height: 100vh;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  text-align: center;
}

div > .note {
  text-align: left;
}

header {
  background-color: #00246B;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #CADCFC;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 20px 10px;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.note h1 {
  font-size: 1.3em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.2em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #ee6c4d;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* 3 notes per row for large tablets */
@media screen and (max-width: 1050px) {
  .note {
    width: calc(33.33% - 20px);
  }
}

/* 2 notes per row for medium screens */
@media screen and (max-width: 900px) {
  .note {
    width: calc(50% - 20px); 
  }
}

/* 1 note per row for small screens */
@media screen and (max-width: 600px) {
  .note {
    width: 90%;
    max-width: 400px;
    margin: 10px auto; 
  }
}


form.create-note {
  position: relative;
  width: 600px;
  max-width: 90%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -20px;
  background: #ee6c4d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/*Medium Screens: Adjust width of the form */
@media screen and (max-width: 1024px) {
  form.create-note {
    width: 70%;
  }
}

/* Small Screens: Full width of the form */
@media screen and (max-width: 768px) {
  form.create-note {
    width: 90%; 
  }
}

